@import url("whitespace_reset.css");

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  background: transparent url("bg_body.gif") 0 0 repeat;
  padding: 160px 100px 50px 140px;
}

header,
main,
footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
}

header {
  text-align: center;
  margin-bottom: 94px;
}

main {
  box-sizing: border-box;
  background: #FFFFFF;
  color: #000000;
  height: 710px;
  padding: 112px 94px 72px 94px;
  text-align: center;
}

main h1 {
  font-weight: normal;
  font-size: 36px; 
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}

article {
  margin-bottom: 160px;
}

main h2 {
  font-weight: Bold;
  font-size: 24px;
  text-align: center;
  color: #3E98B2;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
}

article + article {
  padding-bottom: 68px;
}

main p {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

footer {
  background-color: #e7e7e7;
  margin-bottom: 85px;
  padding: 33px 0;
}

footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline;
  padding: 0 58px;
}

footer a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}
