@import url('whitespace_reset.css');

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  display: flex;
}
/* checkbox button */
label { cursor: pointer; }
input[type="checkbox"] { display: none; }

/* number circle */
.num {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center; 
  padding-left: 1px;
  vertical-align: top;
}
/* slashed todos */
.completed {
  text-decoration: line-through;
  color: #b3b3b3;
}

/* nav */
nav {
  background: #464f77;
  color: #b2b5c3;
  width: 334px;
  display: block;
}
.title {
  color: #fff;
}
.selected {
  background: #38405e;
}
/* top and bottom padding */
#all-todos {
  margin-bottom: 62px;
  padding-top: 68px;
}
#completed-todos {
  padding-bottom: 210px;
}
/* nav rows */
.date-row {
  display: flex;
  flex-flow: row nowrap;
}
nav li {
  height: 40px;
}
/* first column */
.icon-col {
  width: 138px;
}
.icon-col {
  box-sizing: border-box;
  padding: 3px 10px 11px 102px;
}
.icon-col img {
  display: inline-block;
  vertical-align: top;
  margin-right: -10px;
}
/* second column */
.date-col {
  box-sizing: border-box;
  width: 142px;
  vertical-align: top;
  padding-top: 8px;
}
.selected .date-col {
  color: white;
}
.date-col.completed {
  color: #b2b5c3;
}
/* third column */
.num-col {
  box-sizing: border-box;
  width: 24px;
  vertical-align: top;
  padding: 12px 32px 10px 6px;
}
.num {
  background: #6b7292;
}
.selected .num {
  background: #148fd5;
  color: #fff;
}
.first-row .num {
  width: 24px;
  padding-left: 0;
  border-radius: 45%;
}
.first-row .num-col {
  padding: 9px 32px 13px 0;
}


/* main todo area */
#hamburger-menu {
  display: none;
}
#todo-area {
  display: block;
  position: relative;
  min-width: 200px;
  background: #ffffff;
  color: #060606;
  margin-right: 100px;
  margin-left: 20px; 
  width: 100%;
  margin-top: 75px;
}
#todo-area h1 {
  display: inline-block;
  font-size: 21px;
  font-weight: normal;
  margin-right: 10px;
}
#todo-area .num {
  color: white;
  background: #148fd5;
}
#todo-list {
  margin-top: 25px;
}
/* todo list */
.item-row {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.last-row {
  border-bottom: none;
}
.item-row li:last-of-type {
  border: none;
}
.item-row li {
  padding-top: 16px;
  padding-bottom: 16px;
}
.checkbox {
  box-sizing: border-box;
  min-width: 39px;
  padding-left: 12px;
  padding-right: 12px;
  flex-grow: 2.44;
}
.item-number, .add-item {
  flex-grow: 32.13;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
.trash {
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
}
/* text colors */
.add-item {
  color:#148fd5;
}
:not(.completed).item-number:hover  {
  color: #148fd5;
}

/* modal */
#modalForm-container {
  
}
#modal {
  /* width: 575px;
  height: 400px; */
  display: none;
  position: absolute;
  top: 107px;
  left: 50%;
  padding: 37px 38px 40px 32px;
  margin: 0 0 0 -288px;
  z-index: 2;
  background-color: #fefefe;
  color: #060606; 
}
#modal-toggle:checked + #modal {
  display: block;
}
/* #modal-toggle:checked + #modal:before {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.2;
} */
/* modal styling */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}
fieldset {
  border: none;
  margin-bottom: 24px;
}
fieldset:last-of-type {
  margin-bottom: none;
}
#month-select, #year-select, #description-input {
  color: #b3b3b3;
}
#title-input,  #day-select, #month-select, #year-select, #description-input {
  border: 1px solid #b3b3b3;
} 
#title, #due-date {
  height: 35px;
}
/* title fieldset */
#title-label {
  margin-right: 77px;
}
#title-input {
  width: 396px;
  padding: 11px 76px 10px 9px;  
}
#title-input::placeholder {
  color: #060606;
}
/* due-date fieldset */
.slash {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 0 4px;
}
select {
  appearance: none;
}
.select-wrapper {
  display: inline-block;
  position: relative;
}
.select-wrapper::after {
  content: url("../images/select.png");
  top: 11px;
  right: 9px;
  position: absolute;
}
#due-date-label {
  margin-right: 36px;
}
.due-date-input {
  width: 116px;
  padding: 11px 0 10px 9px;  
}
/* description fieldset */
#description-label {
  vertical-align: top;
  margin-top: 10px;
  margin-right: 22px;
}
#description-input {
  width: 396px;
  height: 144px;
  resize: none;
  overflow: auto;
  padding: 0;
  margin: 0;
  text-align: left;
}
#description-input::placeholder {
  text-align: left;
}
/* bottom buttons */
#bottom-buttons {
  margin-left: 120px;
}
.submit-button {
  background: #148fd5;
  color: white;
  border: none;
  width: 184px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  margin-right: 20px;
}

@media (max-width: 1090) {
  #modal {
    display: relative;
  }
}

@media (max-width: 768px) {
  #todo-area {
    margin-left: 32px;
    margin-top: 25px;
  }
  #hamburger-menu {
    display: block;
    margin-bottom: 26px;
  }
  #sidebar {
    display: none;
  }
   #hamburger-toggle:checked + #sidebar {
    display: inline-block;
  }
}


