@import url(whitespace_reset.css);

html {
  font: normal 13px 'Nunito Sans', Arial, sans-serif;
}

body {
  background: #FFFFFF;
  color: #444;
  line-height: 25px;
  overflow-x: hidden;
}

a[href] {
  text-decoration: none;
  color: #444;
}
a[href]:hover {
  text-decoration: underline;
}

/* button */
.button {
  text-align: center;
  background-color: #00800A;
  padding: 10px 30px;
  font-weight: 700;
}
.button[href] {
  color: white;
  font-weight: 700;
}
.button:hover {
  text-decoration: none;
  background: #006000;
}

/* navigation bar */
#menu {
  border-top: 10px solid #F5F5F5;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #FFFFFF;
}
#menu ul {
  margin: 0 auto;
  text-align: center;
}
#menu li {
  display: inline-block;
  margin: 0px 25px;
}
#menu a {
  line-height: 44px;
  text-transform: uppercase;
}
#menu::after {
  content: "";
  display: block;
  clear: both;
}

/* title */
.title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 45px;
  font-size: 3.5rem;
  font-weight: 300;
}

/* header */
header {
  box-sizing: border-box;
  height: 530px;
  text-align: center;
  width: 100%;
  background: url('../images/banner.jpg') center/cover no-repeat;
}
.logo {
  margin-top: 240px;
}
header h1, header h2 {
  font-weight: normal;
  text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
  color: #fff;
}
header h1 {
  margin-top: 40px;
  font-size: 6rem;
}
header h2 {
  margin-top: 46px;
  font-size: 2.3rem;
  text-transform: uppercase;
}

/* ticket section */
.tickets {
  text-align: center;
  margin-bottom: 85px;
}
.tickets h1, .tickets p {
  font-weight: 300;
}
.tickets h1 {
  font-size: 3.6rem;
  margin-bottom: 58px;
}
.tickets p:nth-of-type(1) {
  margin-bottom: 14px;
  font-size: 18px;
}

/* speaker section */
.speakers {
  border-top: 1px solid #EFEFEF;
  text-align: center;
  margin: 0 30px;
  padding-bottom: 65px;  
}
.speakers h1 {
  margin-bottom: 45px;
}
.speakers-table {
  margin: 0 auto;
  max-width: 872px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}
.speakers-table li {
  border: 1px solid #E8E8E8;
  position: relative;
  width: 282px;
  height: 380px;
}
.box figure {
  width: 100%;
}
.box img {
  display: block;
  width: 100%;
  height: 240px;
}
.box h2 {
  color: #00800A;
  margin-top: 42px;
  font-weight: 700;
  font-size: 26px;
}
.box p {
  margin-top: 10px; 
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 300;
}
.hover-box {
  background: #1A1A1A;
  color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.hover-box h2 {
  margin-top: 22px;
}
.hover-box a {
  font-size: 26px;
  color: #00800A;
}
.hover-box p {
  margin-top: 12px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}
.hover-box:hover {
  opacity: 0.9;
}

/* schedule section */
.schedule {
  border-top: 1px solid #EFEFEF;
  margin: 0 30px;
  padding-bottom: 60px;  
}
.schedule h1 {
  margin-top: 90px;
}
.schedule-table {
  font-size: 24px;
  margin: 0 auto;
  border-bottom: 1px solid #EFEFEF;
  padding-top: 52px;
  max-width: 960px;
}

/* first column */
.schedule-table th {
  font-weight: 400;
  padding: 14px;
  border-top: 1px solid #EFEFEF;
}
/* second and third column */
.schedule-table td {
  padding: 10px;
  border-top: 1px solid #EFEFEF;
}
/* second column */
.schedule-table td:nth-of-type(1) {
  line-height: 18px;
}
/* lecture title */
.schedule-table h2 {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  line-height: 32px;
}
/* lecturer link */
.schedule-table h3 {
  margin-top: 12px;
}
.schedule-table a {
  font-weight: 400;
  color: #00800A;
  font-weight: bold;
  font-size: 20px;
}
/* schedule tag */
.schedule-tag {
  display: inline;
}
.schedule-tag li {
  display: inline;
  padding: 0 4px;
  font-size: 7px;
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
  text-align: center;
  margin: 0;
}
/* third colulmn */
.schedule-table img {
  display: block;
  width: 130px;
}

/* center text */
.center-text {
  width: 950px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 26px;
}

/* location */
.location {
  border-top: 1px solid #EFEFEF;
  margin: 0 30px;
  padding-bottom: 76px;
}
.location h1 {
  margin-bottom: 45px;
}
.location p:nth-of-type(2) {
  margin-bottom: 28px;
}
.location p:nth-of-type(3) {
  margin-bottom: 28px;
}

/* call for papers */
.call-for-papers {
  border-top: 1px solid #EFEFEF;
  margin: 0 30px;
  padding-bottom: 45px;
}
.call-for-papers title {
  margin-top: 60px;
}
.call-for-papers p {
  margin-bottom: 18px;
}

/* sponsors */
.sponsors {
  border-top: 1px solid #EFEFEF;
  margin: 0 30px;
  margin-bottom: 70px;
}
dt {
  font-weight: 600;
  font-size: 19px;
}
dd {
  display: inline-block;
}
.platinum dd, .gold dd {
  padding: 12px 45px 20px 10px;
}
.silver img {
  max-width: 240px;
}
.silver dd {
  padding: 0 10px 10px 10px;
}
.support img {
  max-width: 180px;
}
.support dd {
  padding: 10px 45px 0 0;
}

/* footer */
footer {
  height: 340px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url('../images/team.jpg') center/cover no-repeat;
}
footer h1 {
  color: white;
  padding-top: 44px;
  padding-bottom: 20px;
}
.jsconf-br-team {
  color: white;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding-bottom: 12px;
}
.jsconf-br-team h2 {
  font-size: 30px;
  padding-top: 20px;
}
.jsconf-br-team p:nth-of-type(1) {
  margin-bottom: 20px;
}
.jsconf-br-team p:nth-last-child(2) a {
  color: #00800A;
  font-weight: 700;
}
.jsconf-br-team p:last-child a {
  display: inline-block;
  margin-top: 10px;
}

/* responsive design */
@media (max-width: 937px) {
  #menu { display: none; }
  .speakers-table {
    grid-template-columns: repeat(2, 1fr);
  }
  .schedule-table tr {
    position: relative;
    display: block;
    border-top: 1px solid #EFEFEF;
  }
  .schedule-table td, .schedule-table th {
    display: block;
    border: none;
    width: 100%;
  }
  .schedule-table th {
    padding: 20px;
    text-align: right;
  }
  .schedule-table td:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .schedule-table img {
    width: 80px;
  }
  header {
    padding-bottom: 46px;
    height: 280px;
  }
  .logo {
    margin-top: 84px;
  }
  header h1 {
    margin-top: 16px;
    font-size: 42px;
    font-weight: 400;
  }
  header h2 {
    margin-top: 9px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .center-text {
    width: 100%;
  }
  footer .title {
    font-size: 36px;
  }
}
@media (max-width: 585px) {
  .speakers-table {
    grid-template-columns: 100%;
  }
  footer h1 {
    padding-bottom: 20px;
  }
}

/* @media (max-width: 654px) {
  #menu { display: none; }

  header { top: 0; margin-bottom: 0; height: 300px; }
  header h1, header h2, header .logo { top: 90px; }
  header h1 { font-size: 40px; }
  header h2 { font-size: 20px; }

  .speakers { margin: 0; }
  .sponsors { margin: 0 10px; }

  footer h1 { font-size: 35px; }

  .schedule-table tr {
      position: relative;
      display: block;
      border-top: 1px solid #EFEFEF;
  }
  .schedule-table td {
      display: block;
      border: none;
  }
  .schedule-table th {
      padding: 20px !important;
      text-align: right;
  }
  .schedule-table td:last-child {
      position: absolute;
      top: 0;
      left: 0;
  }
  .schedule-table img {
      width: 80px;
  }
} */